<h1>登録</h1>

<div>
  <h2>物件登録</h2>
  <%= form_for @propertie do |f| %>
  <dl>
    <dt>物件名</dt>
    <dd><%= f.text_field :name %></dd>
    <dt>賃料</dt>
    <dd><%= f.text_field :price %></dd>
    <dt>住所</dt>
    <dd><%= f.text_field :address %></dd>
    <dt>築年数</dt>
    <dd><%= f.text_field :building_year %></dd>
    <dt>備考</dt>
    <dd><%= f.text_area :note %></dd>
  </dl>
  <hr>
  <% end %>

</div>
